h1 {
    background-color: black;
    color: white;
    font-size: 40px;
}
h2 {
    background-color: rebeccapurple;
    color: white;
    text-align: center;
    font-style: italic;
}
h3 {
    background-color: lightblue;
    color: black;
    text-align: right;
    text-decoration: underline;
}
h1 span {
    color: aqua;
}
* {
    font-family: sans-serif;
}
